@font-face {
  font-family:fonte;
  src: url(./CAESAR.TTF);
}

/* Estilos gerais */
*{
  margin-top: 0px;
  }
  
  /* Estilos do corpo */
  body{
  text-align: center;
  background: url(../img/espartanos.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  font-family: fonte;
  width: 500px;
  margin: 0 auto;
  color: brown;
  }
  
  /* Estilos gerais */
  .botao-estilo{
    display: inline-block;
    padding: 10px 5px;
    background: white;
    opacity: 0.6;
    border:solid black;
    border-radius: 10px;
    text-transform: uppercase;
    color: #000000;
    background: red;
    max-width: max-content;
    cursor: pointer;
  }

  .caixa {
    color: #722f37;
    border-radius: 10px;
    box-shadow:  10px 20px none;
    opacity: 0.8;
  }
  
  .caixa-2 {
    border-radius: 40px;
    box-shadow:  10px 5px none;
  }
  
  .botao-estilo:hover {
    background: #c43647;
  }

  h1{
    background-color: rgb(139, 55, 55);
    border: solid black;
  }